[project]
	description = Some C++ codes of 23 design patterns
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Qichao Zhang (usbuild)
[access "refs/for/refs/*"]
	read = group user/Qichao Zhang (usbuild)
	push = group user/Qichao Zhang (usbuild)
	label-Code-Review = -2..+2 group user/Qichao Zhang (usbuild)
	label-Verified = -1..+1 group user/Qichao Zhang (usbuild)
	rebase = group user/Qichao Zhang (usbuild)
	removeReviewer = group user/Qichao Zhang (usbuild)
	submit = group user/Qichao Zhang (usbuild)
[access "refs/heads/*"]
	read = group user/Qichao Zhang (usbuild)
	create = group user/Qichao Zhang (usbuild)
	push = +force group user/Qichao Zhang (usbuild)
	pushMerge = group user/Qichao Zhang (usbuild)
[access "refs/tags/*"]
	push = +force group user/Qichao Zhang (usbuild)
	pushTag = group user/Qichao Zhang (usbuild)
	pushSignedTag = group user/Qichao Zhang (usbuild)
